<div style="padding: 50px 100px;">
  <div style=" display: flex; flex-direction: row; justify-content: space-between;">
    <div style=" display: flex; flex-direction: row; column-gap: 12px;">
      <a routerLink="product">Product</a>
      <a routerLink="foo">Foo</a>
      <a routerLink="bar">Bar</a>
    </div>
    <div style="display: flex;column-gap: 6px;">
      <div style="cursor: pointer;">English</div>
      <div style="cursor: pointer;">German</div>
      <div style="cursor: pointer;">Polish</div>
      <div style="cursor: pointer;">Hindi</div>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>